
{% comment %} <form name="usrsel" data-dollar="{{dollar|default:'USD'}}" data-date_range="{{date_range|default:'YEAR'}}">
	{% csrf_token %}
	
		<span style="font-weight:bold">幣別&nbsp:&nbsp</span>
			<span>
				<input id="usd" type="radio" name="dollar" value="USD" {% if dollar|default:'USD' == 'USD' %} checked {% endif %}>
					<label for="usd">美金</label>
				<input id="ntd" type="radio" name="dollar" value="NTD" {% if dollar|default:'USD' == 'NTD' %} checked {% endif %}>
					<label for="ntd">台幣</label>
			</span>
		<span style="font-weight:bold">&nbsp&nbsp資料週期&nbsp:&nbsp</span>
			<span>
				<input id="year" type="radio" name="date_range" value="year" {% if date_range|default:'year' == 'year' %} checked
						{% endif %}>
					<label for="year">年</label>
				<input id="month" type="radio" name="date_range" value="month" {% if date_range|default:'year' == 'month' %} checked
						{% endif %}>
					<label for="month">月</label>
				<input id="accumulation" type="radio" name="date_range" value="accumulation" {% if date_range|default:'year' == 'accumulation' %} checked
						{% endif %}>
					<label for="accumulation">累計</label>
			</span> {% endcomment %}
	{% comment %} <label for="dollar">幣值:</label>
	<select id="dollar" name="dollar" onchange="check()">
		　<option value="USD" selected="selectedd">美金</option>
		　<option value="NTD">台幣</option>
	</select>
	<label for="date_range">顯示區間:</label>
	<select id="date_range" name="date_range" onchange="check()">
		　<option value="year" selected="selected">年</option>
		　<option value="month">月</option>
	</select> {% endcomment %}
{% comment %} </form> {% endcomment %}

    <div class="mask" id="mask" style="width:100% ; height:100%;">
        <div id="loading" >
			<div class="spinner">
				<div class="spinner-container container1">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container2">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container3">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
			</div>
			<div class='message'>圖表繪製中，請稍後</div>

            {% comment %} <div class="progress" ></div> {% endcomment %}
        </div>
    </div>

{% block tableau %}

{% endblock %}

<script type='text/javascript'>
	$("input[name=dollar]").change(function () {
        check();
    });

	$("input[name=date_range]").change(function () {
        check();
    });

	var $mask=document.getElementById('mask');;
	$mask.style.display='none';

	// 高度處理
	var reH_ID;
	window.setTimeout(( () => start_reH() ), 4000);
	function start_reH(){
		reH_ID = window.setInterval(reH, 1000);
	}
	function reH() {
		{% comment %} console.log('start_reH'); {% endcomment %}
		// 轉圈圈的圖
		let circle = $("#tableau-svg-spinner-0");
		if (!circle.is(":visible") && circle.length == 0) {
			// 根據左邊選單區的高度計算右邊顯示區的高度
			var h_bynav = ($('nav').height() -35 ) + "px";
			// 等大概4秒畫完圖，壓縮高度
			var tableauPlaceholder = $("#main #content").find('.tableauPlaceholder');
			tableauPlaceholder.find('iframe').css("height", "100%");
			tableauPlaceholder.css("height", h_bynav);
			// 
			window.clearInterval(reH_ID);
			{% comment %} console.log('畫完'); {% endcomment %}
		} else {
			{% comment %} console.log('waiting...'); {% endcomment %}
		}
	}


	var timeoutID = setTimeout(closemask, 7000);
	function closemask() {
    $mask.style.display='none';
	}





</script>
{% block js %}

{% endblock %}